@mixin prop-main-section($height-mul: 1) {
  //box
  width: var(--main-section-width);
  height: calc(var(--main-section-height) * $height-mul);
  margin: 40px auto;
  padding: var(--main-section-padding);
  //text
  line-height: 1.5;
}

@mixin selector-invisible-section {
  &.invisible {
    pointer-events: none;
    opacity: 0;
    height: 0;
    margin: 0 auto;
    padding: 0 var(--main-section-padding);
    border-width: 0 !important;
  }
}
