.custom-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Transitions & Animation: https://tailwindcss.com/docs/transition-property */
.transition {
  transition: all 2s ease-in-out;
}

/* Interactivity: https://tailwindcss.com/docs/pointer-events */
.pointer-events-none {
  pointer-events: none;
}

/* Interactivity: https://tailwindcss.com/docs/user-select */
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
