:root {
  --color-text: #ffffff;
  --color-text-inversion: #1d212b;
  --color-background: repeating-linear-gradient(
    135deg,
    #202020 0%,
    #2b2b2b 10%,
    #202020 0%,
    #222222 50%
  );
  --color-background-dark: #0e0e0e;

  --font-ngc: 'Nanum Gothic Coding';

  --grid-width: 80px;
  --grid-height: 80px;
  --main-section-width: 620px;
  --main-section-height: max(150px, 20vh);
  --main-section-padding: 40px;
}
