.neon-div {
  border-radius: 12px;
  border: 2px solid var(--neon-color);
  filter: brightness(120%);

  /**
   * 1st line: glass tube inside
   * 2nd line: glass tube outside
   * 3rd line: glow inside
   * 4th line: glow outside
   */
  box-shadow:
    0 0 0 2px rgba(0, 0, 0, 0.2) inset,
    0 0 0 2px rgba(0, 0, 0, 0.2),
    0 0 calc(16px * var(--neon-size)) var(--neon-color) inset,
    0 0 calc(16px * var(--neon-size)) var(--neon-color);
}
