.neon-font {
  animation: NeonAnimation 1.5s ease-in-out infinite alternate;

  & svg {
    filter: drop-shadow(0 0 calc(2px * var(--neon-size)) var(--neon-color-start))
      drop-shadow(0 0 calc(8px * var(--neon-size)) var(--neon-color-end));
  }
}

@keyframes NeonAnimation {
  from {
    text-shadow:
      0 0 calc(10px * var(--neon-size)) var(--neon-color-start),
      0 0 calc(20px * var(--neon-size)) var(--neon-color-start),
      0 0 calc(30px * var(--neon-size)) var(--neon-color-start),
      0 0 calc(40px * var(--neon-size)) var(--neon-color-end),
      0 0 calc(70px * var(--neon-size)) var(--neon-color-end),
      0 0 calc(80px * var(--neon-size)) var(--neon-color-end),
      0 0 calc(90px * var(--neon-size)) var(--neon-color-end),
      0 0 calc(150px * var(--neon-size)) var(--neon-color-end);
  }
  to {
    text-shadow:
      0 0 calc(5px * var(--neon-size)) var(--neon-color-start),
      0 0 calc(10px * var(--neon-size)) var(--neon-color-start),
      0 0 calc(15px * var(--neon-size)) var(--neon-color-start),
      0 0 calc(20px * var(--neon-size)) var(--neon-color-end),
      0 0 calc(35px * var(--neon-size)) var(--neon-color-end),
      0 0 calc(40px * var(--neon-size)) var(--neon-color-end),
      0 0 calc(50px * var(--neon-size)) var(--neon-color-end),
      0 0 calc(75px * var(--neon-size)) var(--neon-color-end);
  }
}
