.section-server {
  /* Selector */
  &.wide {
    height: 600px;
  }

  > .ref {
    height: calc(var(--main-section-height) * 0.75);
  }

  .cursor {
    animation: blink 1s steps(1, end) infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
