.section-config {
  height: calc(var(--main-section-height) * 1.5);

  /* Selector */
  & > div {
    /* Property */
    letter-spacing: 4px;

    /* Selector */
    & > div:nth-child(1) {
      margin-bottom: 20px;

      display: flex;
      justify-content: space-between;
    }
    & > div:nth-child(2) {
      margin-top: 20px;
    }
  }
}

.button-count {
  /* Property */
  margin: 0 20px;
  display: flex;

  /* Selector */
  &.off {
    color: var(--color-primary-black);
  }
  & > label {
    /* Property */
    cursor: pointer;

    width: 100%;
    display: flex;
    justify-content: space-between;

    /* Selector */
    & > input[type='button'] {
      display: none;
    }
  }
}

.checkbox {
  /* Property */
  margin: 0 20px;

  /* Selector */
  & > label {
    /* Property */
    cursor: pointer;

    /* Selector */
    & > input[type='checkbox'] {
      display: none;
    }
    & > input[type='checkbox'] + span {
      color: var(--color-primary-black);
    }
    & > input[type='checkbox']:checked + span {
      color: var(--color-primary-white);
    }
  }
}
