.section-config {
  @include prop-main-section(1.5);
  @include selector-invisible-section;

  /* Selector */
  > div {
    /* Property */
    letter-spacing: 4px;

    /* Selector */
    > div:nth-child(1) {
      //box
      margin-bottom: 20px;
      //flex-container
      display: flex;
      justify-content: space-between;
    }
    > div:nth-child(2) {
      margin-top: 20px;
    }
  }
}

.button-count {
  /* Property */
  margin: 0 20px;
  display: flex;

  /* Selector */
  &.off {
    color: var(--color-primary-black);
  }
  > label {
    /* Property */
    cursor: pointer;
    //flex-container
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* Selector */
    > input[type='button'] {
      display: none;
    }
  }
}

.checkbox {
  /* Property */
  margin: 0 20px;

  /* Selector */
  > label {
    /* Property */
    cursor: pointer;

    /* Selector */
    > input[type='checkbox'] {
      display: none;
    }
    > input[type='checkbox'] + span {
      color: var(--color-primary-black);
    }
    > input[type='checkbox']:checked + span {
      color: var(--color-primary-white);
    }
  }
}
