#app {
  //box
  width: 100%;
  height: 100%;
  //background
  background: var(--color-background) 0 / 15px 20px;
  //text
  color: var(--color-primary-white);
  //grid-container
  display: grid;
  grid-template-columns: var(--grid-width) 1fr var(--grid-width);
  grid-template-rows: var(--grid-height) 1fr var(--grid-height);

  .header-l {
    grid-area: 1 / 1 / 2 / 2;
  }
  .header-r {
    grid-area: 1 / 3 / 2 / 4;
  }
  .footer-l {
    grid-area: 3 / 1 / 4 / 2;
  }
  .footer-r {
    grid-area: 3 / 3 / 4 / 4;
  }
  .timer {
    grid-area: 3 / 2 / 4 / 3;
  }
  main.main {
    @include selector-scrollbar;

    grid-area: 1 / 2 / 4 / 3;
  }
}
